src/WS/Combines/schemas.evosnap.com_CWS_v2.0_ServiceInformation_Faults.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/Faults" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/Faults">
	<xs:complexType name="CWSFault">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:CWSBaseFault">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CWSFault" nillable="true" type="tns:CWSFault"/>
	<xs:complexType name="CWSBaseFault">
		<xs:sequence>
			<xs:element minOccurs="0" name="ErrorID" type="xs:int">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> The error code of the fault. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="HelpURL" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> The web URL that will display more information about the fault. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> The CWS operation name that originated the fault. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ProblemType" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> Lists the specific error message for the associated fault. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CWSBaseFault" nillable="true" type="tns:CWSBaseFault"/>
	<xs:complexType name="CWSServiceInformationUnavailableFault">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>
				<summary> Indicates that the Service Information Service is temporary unavailable. The client application should retry the operation. </summary>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="tns:CWSBaseFault">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CWSServiceInformationUnavailableFault" nillable="true" type="tns:CWSServiceInformationUnavailableFault"/>
	<xs:complexType name="CWSValidationResultFault">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>
				<summary> Contains a collection of one or more PTLS XML error messages in CWSValidationErrorFault. The application should respond to these validation errors and correct the data being sent in. </summary>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="tns:CWSBaseFault">
				<xs:sequence>
					<xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfCWSValidationErrorFault">
						<xs:annotation>
							<xs:appinfo/>
							<xs:documentation>
								<summary> List of specific validation errors from CWSValidationErrorFault. </summary>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CWSValidationResultFault" nillable="true" type="tns:CWSValidationResultFault"/>
	<xs:complexType name="ArrayOfCWSValidationErrorFault">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="CWSValidationErrorFault" nillable="true" type="tns:CWSValidationErrorFault"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfCWSValidationErrorFault" nillable="true" type="tns:ArrayOfCWSValidationErrorFault"/>
	<xs:complexType name="CWSValidationErrorFault">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>
				<summary> Contains the details of the CWSValidationResultFault. </summary>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="ErrorType" type="tns:CWSValidationErrorFault.EErrorType">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> Indicates the type of error. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RuleKey" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> Indicates the data rule that failed. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RuleLocationKey" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> Indicates where the data rule failed. This can be null. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RuleMessage" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> The verbose message that describes the failure. Do not put stack traces here; use the logger. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> Indicates the transaction Id where the rule failed. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CWSValidationErrorFault" nillable="true" type="tns:CWSValidationErrorFault"/>
	<xs:simpleType name="CWSValidationErrorFault.EErrorType">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>
				<summary> The type of possible errors. </summary>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Validation">
				<xs:annotation>
					<xs:documentation>
						<summary> Rule failed validation. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Processing">
				<xs:annotation>
					<xs:documentation>
						<summary> Processing error. An error that has nothing to do with the message nor with the validator engine. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="System">
				<xs:annotation>
					<xs:documentation>
						<summary> Systems error. An error that has nothing to do with the message and indicates that something failed in the validator engine. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CWSValidationErrorFault.EErrorType" nillable="true" type="tns:CWSValidationErrorFault.EErrorType"/>
</xs:schema>
