src/WS/BILLING/schemas.evosnap.com_CWS_v2.0_DataServices_TMS_Fault.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.evosnap.com/CWS/v2.0/DataServices/TMS/Fault" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/CWS/v2.0/DataServices/TMS/Fault">
	<xs:import schemaLocation="schemas.evosnap.com_CWS_v2.0_DataServices_TMS_Faults.xsd" namespace="http://schemas.evosnap.com/CWS/v2.0/DataServices/TMS/Faults"/>
	<xs:complexType name="TMSValidationResultFault">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>
				<summary> Contains a collection of one or more PTLS XML error messages in CWSValidationErrorFault. The application should respond to these validation errors and correct the data being sent in. </summary>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q1="http://schemas.evosnap.com/CWS/v2.0/DataServices/TMS/Faults" base="q1:TMSBaseFault">
				<xs:sequence>
					<xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfTMSValidationError">
						<xs:annotation>
							<xs:appinfo/>
							<xs:documentation>
								<summary> List of specific validation errors from CWSValidationErrorFault. </summary>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TMSValidationResultFault" nillable="true" type="tns:TMSValidationResultFault"/>
	<xs:complexType name="ArrayOfTMSValidationError">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="TMSValidationError" nillable="true" type="tns:TMSValidationError"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfTMSValidationError" nillable="true" type="tns:ArrayOfTMSValidationError"/>
	<xs:complexType name="TMSValidationError">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>
				<summary> Contains the details of the CWSValidationResultFault. </summary>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="ErrorType" type="tns:TMSValidationError.EErrorType">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> Indicates the type of error. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RuleKey" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> Indicates the data rule that failed. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RuleLocationKey" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> Indicates where the data rule failed. This can be null. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RuleMessage" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						<summary> The verbose message that describes the failure. Do not put stack traces here; use the logger. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TMSValidationError" nillable="true" type="tns:TMSValidationError"/>
	<xs:simpleType name="TMSValidationError.EErrorType">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>
				<summary> The type of possible errors. </summary>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Validation">
				<xs:annotation>
					<xs:documentation>
						<summary> Rule failed validation. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Processing">
				<xs:annotation>
					<xs:documentation>
						<summary> Processing error. An error that has nothing to do with the message nor with the validator engine. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="System">
				<xs:annotation>
					<xs:documentation>
						<summary> Systems error. An error that has nothing to do with the message and indicates that something failed in the validator engine. </summary>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TMSValidationError.EErrorType" nillable="true" type="tns:TMSValidationError.EErrorType"/>
</xs:schema>
